@import url(styleNavbar.css);

main {
    width: 100%;
    height: 900px;
}

#Cadastro {
    background-image: url(IMG/BACKGROUNDS/cadastro.jpg);
}


#Login {
    background-image: url(IMG/BACKGROUNDS/login.jpg);
}

#esqueciSenha {
    background-image: url(IMG/BACKGROUNDS/esqueciSenha.jpg);
}

#Cadastro,
#Login,
#esqueciSenha {
    background-size: cover;
    background-repeat: no-repeat;
}

.cover {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

main .container {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main h1 {
    margin: 0;
    color: #FFF;
    font-family: MontBlanc;
    font-size: 48px;
}

main .linha {
    width: 150px;
    height: 5px;
    background-color: #DA0E0D;
    border-radius: 10px;
}

main .formulario {
    width: 700px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid #DA0E0D;
    border-radius: 10px;
    background-color: #00000080;
}

.formulario .titulo {
    width: 100%;
    padding-left: 150px;
}

.titulo h3 {
    color: #FFF;
}

.formulario .inputGroup {
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.inputGroup .g1,
.inputGroup .g2,
.inputGroup .g3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttonForm {
    width: 150px;
    height: 30px;
    color: #FFF;
    font-family: CocoSharp-Bold;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: #DA0E0D;
}

.buttonForm:hover,
.buttonForm:focus {
    outline: none;
    cursor: pointer;
    color: #DA0E0D;
    border: 2px solid #DA0E0D;
    background-color: transparent;
}

.inputGroup p {
    color: #FFF;
}

#Login .links {
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links a,
.links span {
    text-decoration: none;
    font-size: 12px;
    color: #B4B4B4;
}

.links a:hover {
    cursor: pointer;
}

.links a:hover,
.links a:focus {
    outline: none;
    color: #DA0E0D;
}

.inputs input {
    width: 220px;
    height: 15px;
    padding: 10px 10px 10px 30px;
}

.inputs select {
    width: 265px;
    height: 38px;
    padding: 10px 10px 8px 30px;
}

.inputs input,
.inputs select {
    font-family: CocoSharp-Bold;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
}

.inputs input:focus,
.inputs select:focus {
    outline: none;
    background-color: #FFF;
}

.inputs i {
    color: #DA0E0D;
    padding: 10px;
    position: absolute;
}

.fa-eye,
.fa-eye-slash {
    margin-left: 225px;
    z-index: 3;
}

.fa-eye:hover,
.fa-eye-slash:hover {
    cursor: pointer;
}

#Login .inputGroup {
    height: 40%;
}

#esqueciSenha #enviarEmail {
    margin-bottom: 50px;
}

#esqueciSenha #alterarSenha {
    display: none;
}

.pop-up {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    width: 600px;
    height: 200px;
    border: 2px solid #DA0E0D;
    border-radius: 10px;
    background-color: #000;
}

.pop-up h2,
.pop-up p {
    margin: 0;
    color: #FFF;
}

.pop-up .buttonForm {
    width: 100px;
}