@import url(FONTS/fonts.css);

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: Made-Tommy;
}

body:hover {
    cursor: default;
}

.header {
    width: 100%;
    height: 60px;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
}

.header .container {
    background-color: #0A0A0A;
    position: fixed;
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #DA0E0D;
}

.navbar {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 350px;
    justify-content: space-evenly;
    color: #FFF;
    align-items: center;
}

.navbar u {
    color: #DA0E0D;
}

.header .container {
    justify-content: space-between;
}

.logo {
    display: flex;
    width: 150px;
    height: 50px;
    align-self: center;
    margin-left: 100px;
    justify-content: space-between;
}

.logo #doom,
.logo #legion {
    font-family: Gontserrat;
    font-size: 20px;
}

.logo #doom {
    -webkit-text-fill-color: #FFFFFF00;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #DA0E0D;
}

.logo #legion {
    color: #FFF;
}

.header a {
    text-decoration: none;
    color: #FFF;
}

.header a:hover {
    color: #DA0E0D;
    cursor: pointer;
}

.acesso {
    display: flex;
    justify-content: space-between;
    width: 200px;
    align-items: center;
    margin-right: 100px;
}

.acesso #btnLogin {
    background-color: #DA0E0D;
    color: #FFF;
    border: none;
    border-radius: 10px;
    width: 70px;
    height: 30px;
    font-weight: bold;
    font-size: 14px;
}

.acesso #btnCadastro {
    background-color: transparent;
    color: #DA0E0D;
    border: 2px solid #DA0E0D;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    font-weight: bold;
    font-size: 14px;
}

.acesso button:hover {
    cursor: pointer;
}

.acesso #btnLogin:hover {
    background-color: transparent;
    color: #DA0E0D;
    border: 2px solid #DA0E0D;
}

.acesso #btnCadastro:hover {
    background-color: #DA0E0D;
    color: #FFF;
    border: none;
}

#Formulario .navbar,
#Codice .navbar,
#Quiz .navbar {
    margin-right: 100px;
}

#Formulario,
#Quiz {
    overflow: hidden;
}

#Dashboard .navbar {
    width: 400px;
}